<div class="boxes-list">
  {{#each model.meetings as |meeting|}}
    <div class="boxes-list-item red-box">
      <strong>{{meeting.name}}</strong> with
      <strong>
        {{#link-to 'teachers.teacher' meeting.teacher}}{{meeting.teacher.name}}{{/link-to}}
      </strong>
      at
      <strong>
        {{#link-to 'teachers.teacher.class' meeting.teacher meeting.classGroup}}{{meeting.classGroup.name}}{{/link-to}}
      </strong>
    </div>
  {{/each}}
</div>