@import 'bootstrap-blog';
@import 'ember-power-select';
@import 'ember-power-calendar';

.demo-calendar-big {
  @include ember-power-calendar($cell-size: 40px);
  margin: 0 auto;
}

.boxes-list {
  display: flex;
  justify-content: space-between;
}
.boxes-list-vertical {
  flex-direction: column;
}
.boxes-list-item {
  margin: 15px;
  padding: 10px;
  height: 100px;
  flex: 1;
}
.green-box {
  border: 1px solid green;
  background-color: rgba(green, 0.2);
}
.red-box {
  border: 1px solid red;
  background-color: rgba(red, 0.2);
}
.blue-box {
  border: 1px solid blue;
  background-color: rgba(blue, 0.2);
}
