<div class="boxes-list">
  {{#each model.classGroups as |group|}}
    <div class="boxes-list-item green-box">
      {{group.name}}
      <br>
      {{#link-to 'teacher.class' model group}}
        Show details
      {{/link-to}}
    </div>
  {{/each}}
</div>
{{outlet}}
