<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#power-select
        selected=destination
        options=cities
        onchange=(action (mut destination))
        allowClear=true
        placeholder='Select a location...'
        as |name|}}
          {{name}}
      {{/power-select}}
      <div class="boxes-list boxes-list-vertical">
        {{#each model as |parent|}}
          <div class="boxes-list-item red-box">
            <header><strong>{{parent.name}}</strong></header>
            {{#link-to 'parent' parent}}
              Show meetings
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
