<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{model.title}}</h1>
          <h2 class="subheading">{{model.subtitle}}</h2>
          <span class="meta">Posted by <a href="#">{{model.author.fullName}}</a> on August 24, 2014</span>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{{model.content}}}
      </div>
    </div>
  </div>
</article>
<hr>
